<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My test</title>
  </head>
  <body>

    <h1>Hey buddy im working!</h1>
    <ul>
      <li>Fikken</li>
      <li>Spungen</li>
      <%  for (var i = 0; i < whut.length; i++) { %>
          <li> <%= whut[i] %> </li>
      <%  } %>
    </ul>

    <form class="" action="/" method="post">
    <input type="text" name="inPut" value="">
    <button type="submit" name="">sub</button>
    </form>

  </body>
</html>
